# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/thieu1995/csv-files/blob/main/data/pandas/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [12]:
drinks = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/drinks.csv")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [16]:
drinks.groupby("continent").beer_servings.sum().idxmax()

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [23]:
drinks.groupby("continent").wine_servings.describe()

continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: beer_servings, dtype: int64

### Step 6. Print the mean alcohol consumption per continent for every column

In [24]:
data_continent_group = drinks.groupby('continent')
(data_continent_group.beer_servings.sum()+data_continent_group.spirit_servings.sum()+data_continent_group.wine_servings.sum())/data_continent_group.beer_servings.count()

continent
AF     94.075472
AS    106.954545
EU    468.555556
OC    183.750000
SA    352.250000
dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [26]:
data_continent_group = drinks.groupby('continent')
(data_continent_group.beer_servings.sum()+data_continent_group.spirit_servings.sum()+data_continent_group.wine_servings.sum())/data_continent_group.beer_servings.count()

continent
AF     94.075472
AS    106.954545
EU    468.555556
OC    183.750000
SA    352.250000
dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [27]:
drinks.spirit_servings.describe()

count    193.000000
mean      80.994819
std       88.284312
min        0.000000
25%        4.000000
50%       56.000000
75%      128.000000
max      438.000000
Name: spirit_servings, dtype: float64