# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv",sep = "\t")

### Step 4. How many products cost more than $10.00?

In [11]:
chipo["item_price_cleaned"] = chipo['item_price'].apply(lambda x : float(x.replace("$",""))) 
len(chipo[chipo.item_price_cleaned>10.0])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [18]:
chipo[['item_name','item_price_cleaned']].drop_duplicates()

                                  item_name  item_price_cleaned
0              Chips and Fresh Tomato Salsa                2.39
1                                      Izze                3.39
2                          Nantucket Nectar                3.39
3     Chips and Tomatillo-Green Chili Salsa                2.39
4                              Chicken Bowl               16.98
...                                     ...                 ...
4237                    Chips and Guacamole                8.50
4354                       Steak Soft Tacos               18.50
4489                    Chips and Guacamole               17.80
4509                                  Chips                1.99
4510                          Barbacoa Bowl               11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [20]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,item_price_cleaned
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [28]:
chipo.groupby('item_name').quantity.sum().sort_values().iloc[-1]

761

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [33]:
chipo.quantity[chipo['item_name']=="Veggie Salad Bowl"].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [37]:
chipo_canned_soda = chipo[chipo['item_name']=="Canned Soda"]
len(chipo_canned_soda[chipo_canned_soda['quantity'] > 1])

20