# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv")
cars2 = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv')

   ### Step 3. Assign each to a variable called cars1 and cars2

In [6]:
cars2.head()
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [14]:
cars1.describe()
cars1.isna().all()

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model           False
origin          False
car             False
Unnamed: 9       True
Unnamed: 10      True
Unnamed: 11      True
Unnamed: 12      True
Unnamed: 13      True
dtype: bool

### Step 5. What is the number of observations in each dataset?

In [8]:
print(f"Cars1 has {len(cars1)} records")
print(f"Cars2 has {len(cars2)} records")

Cars1 has 198 records
Cars2 has 200 records

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [31]:

cars = pd.concat((cars1,cars2))

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [35]:
import numpy as np
owners = pd.DataFrame(np.random.randint(15000, 73000, size=len(cars)))
cars['owners'] = owners

### Step 8. Add the column owners to cars

In [37]:
cars.dtypes

mpg             float64
cylinders         int64
displacement      int64
horsepower       object
weight            int64
acceleration    float64
model             int64
origin            int64
car              object
Unnamed: 9      float64
Unnamed: 10     float64
Unnamed: 11     float64
Unnamed: 12     float64
Unnamed: 13     float64
owners            int32
dtype: object